:root {
    --titleColor: #D7DADC;
    --textColor: rgb(215, 218, 220);
    --posterColor: #4FBCFF;
    --metaTextColor: #818384;
    --wrapperBackground: rgba(26,27,27, 0.8);
    --lineColor: #343536;
    --quoteLineColor: rgba(215, 218, 220, 0.2);
    --linkColor: #4FBCFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #333;
}

#canvas {
    width: 1280px;
    height: 720px;
    background: #eee;
    display: flex;
    align-items: center;
    padding: 0 70px;
    position: relative;
    z-index: -2;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video video {
    width: 100%;
}

#wrapper {
    background: var(--wrapperBackground);
    padding: 40px 40px;
    border-radius: 20px;
    display: none;
    width: 100%;
}

#title-section {
    font-size: 14px;
    display: none;
}

#title__points {
    padding-right: 10px;
    font-size: 16px;
}

#title__subreddit {
    color: var(--titleColor);
}

#title__separator {
    color: var(--metaTextColor);
}

#title__author {
    color: var(--metaTextColor);
}

#title {
    color: var(--titleColor);
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}

#comment {
    font-size: 20px;
    visibility: hidden;
    display: none;
}

#comment__author {
    color: var(--posterColor);
    font-size: 18px;
}

#comment__score {
    color: var(--metaTextColor);
    font-size: 14px;
}

#reply {
    margin-top: 15px;
    padding-left: 20px;
    border-left: 3px solid var(--lineColor);
    visibility: hidden;
    display: none;
}

#reply__author {
    color: var(--posterColor);
    font-size: 18px;
}

#reply__score {
    color: var(--metaTextColor);
    font-size: 14px;
}

#rtr {
    margin-top: 15px;
    padding-left: 20px;
    border-left: 3px solid var(--lineColor);
    display: none;
}

#rtr__author {
    color: var(--posterColor);
    font-size: 18px;
}

#rtr__score {
    color: var(--metaTextColor);
    font-size: 14px;
}

.md p {
    margin-bottom: 5px;
    
    font-size: 22px;
    color: var(--textColor);
}

.md p em {
    font-style: italic;
}

.md-spoiler-text {
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    margin: 2px 0;
}

.md a {
    color: var(--linkColor);
}

.md code {
    background: #ddd;
    font-family: monospace;
    font-weight: 600;
    border-radius: 5px;
    margin: 2px 0;
    padding: 3px;
}

.md blockquote {
    padding-left: 15px;
    border-left: 5px solid var(--quoteLineColor);
    padding-right: 15px;
}

#timer {
    color: #fff;
    padding: 10px;
}